.container{
    height: 500px;
    width: 2000px;
}

.animate-button {
	display: inline;
}
.buttons {
	text-align: center;
}

.animate-button p {
	display: inline;
	text-align: center;
}

.object{
    height: 100px;
    width: 100px;
    position: absolute;
}